// BASE
:root{
    scroll-behavior: smooth; 
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    color: $color-black;
    // background: $color-bg ;
    background: linear-gradient(rgba(252,251,251,1) 0%, rgba(248,244,241,1) 100%);
}