// BUTTONS
.btn{
    position: relative;
    background: $color-black;
    color: $color-white;
    padding: 1.1rem 4.8rem;
    border-radius: 5rem;
    cursor: pointer;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 0 1px 0px $color-bg inset, 0 0 1px 0px $color-bg;
    a{
        z-index: 1;
        font-weight: 900;
        transition: transform 0.2s ease-in-out;
    }
    &::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $color-primary;
        border-radius: 4rem;
        transform: scale3d(1, 0, 1);
        transform-origin: bottom;
        transition: transform 0.2s ease-in-out;
    }
    &:hover{
        &::after{
            transform: scale3d(1, 1, 1);
        }
        a{
            color: $color-black;
        }
    }
}
