header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
    // Left side
    .left {
        display: flex;
        align-items: center;
        .logo{
            margin-right: 15rem;
            .dot{
                color: $color-primary;
                font-size: 4rem;
                margin-left: .3rem;
                line-height: 0;
            }
        }
        nav {
            .menu {
                display: flex;
                &__nav{
                    margin-right: 4rem;
                }
            }
        }
    }
    // Right side
    .action{
        display: flex;
        justify-content: center;
        align-items: center;
        .link{
            margin-right: 4rem;
        }
    }
}




