.homepage{
    &__hero{
        display: flex;
        .left{
            position: relative;
            flex: 0.8;
            // background: red;
            display: flex;
            flex-direction: column;
            h1{
                position: absolute;
                top: 10rem;
                transition: all ease-in-out 0.4s;
                transform-origin: left top;

            }
        }
        form{
            position: absolute;
            bottom: 5rem;
            display: flex;
            justify-content: space-between;
            width: 45rem;
            height: 12rem;
            z-index: 1;
            background: $color-white;
            box-shadow: -4px 10px 20px 0px rgb(0 0 0 / 11%);
            .passion{
                width: 100%;
                border: 0.1rem solid rgba(151, 198, 128, 0);
                &[type=text]{
                    padding-left: 5rem;
                    font-size: 2rem;
                    color: $color-black;
                    transition: all ease-in-out 0.2s;
                }
                // &::placeholder{
                //     font-size: 2rem;
                //     color: $color-black;
                // }
                &:hover{
                    box-shadow: 0px 2px 50px 0 rgb(0 0 0 / 10%);
                }
                &:focus{
                    color: rgba(30, 30, 47, 0.5);
                    border-color: $color-primary;
                }
            }
            .go{
                background: $color-primary;
                aspect-ratio: 1;
                font-size: 3.5rem;
                font-weight: 900;
                cursor: pointer;
            }
        }
        .right{
            flex: 2.2;
            // background: green;
        }
        .person{
            display: flex;
            justify-content: flex-end;
            &__image{
                padding: 0 2rem;
                width: 21%;
                cursor: pointer;
                transition: all ease-out .4s;
                .image{
                    border-radius: 2rem;
                    overflow: hidden;
                    img{
                        height: 60rem;
                        object-fit: cover;
                        transition: all ease-out .4s;
                    }
                }
                &.main-img{
                    width: 58%;
                    img{
                        transform: scale(1.2) translate(0, 5rem);
                    }
                }
                &:hover{
                    width: 58%;
                    img{
                        // transform-origin: top center;
                        transform: scale(1.2) translate(0, 5rem);
                    }
                }
            }



        }











    } // End of Hero

} // End of Homepage